.button {
  background: transparent;
  border: 1px solid #555555;
  color: #555555;
  cursor: pointer; // convert cursor into little hand
  font-weight: 600;
  line-height: 1;
  margin: 0 1.3rem;
  outline: none;
  padding: 1.3rem;
  transition: background .2 ease, transform .2 ease;

  &:hover, &:focus { //apmersand adde xtra to pseudoselectors
    background: #e8e8e8;
  }

  &:active {
    background: #cccccc;
    transform: scale(1.1);
  }
}

.button--round { // modifier
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}
